.current {
  color: white;
  opacity: 1;
}
.container {
  width: 85%;
  height: 80%;
  margin: auto;
}
.logo {
  font-weight: medium;
  color: white;
  font-family: "Merienda", cursive;
  font-size: 2rem;
}
.title {
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
  font-weight: normal;
}
.sub-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.2rem 0;
  background: white;
  font-size: 1.3rem;
  text-align: center;
  color: black;
  width: 130px;
  // height: 50px;
  align-self: center;
}
.project {
  height: 290px;
  width: 520px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  display: none;
}
.progress-box {
  width: 100%;
  height: 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
  margin-top: 50px;
  img {
    width: 55px;
    height: 55px;
    align-self: center;
    justify-self: center;
  }
}
p {
  position: relative !important;
}
.progress-bar {
  display: inline-block;
  width: 92%;
  height: 65%;
  background: #fff;

  margin-left: 6rem;
  border-radius: 0.5rem;

  align-self: center;
  justify-self: left;
  margin-left: 4rem;
  position: relative;
  z-index: 0;
  & div {
    position: relative;
    z-index: 0;
    background: #c04b86;
    // opacity: 0.8;
  }
}

.resume {
  background: white;
  height: 700px;
  width: 650px;
  overflow: auto;
  margin: 3.5rem 0;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  #resume {
    overflow: auto;
    width: 650px;
    margin: 0;
  }
}
