html {
  width: 100vw;
  overflow-x: hidden;
}
br {
  display: none;
}

body {
  flex-direction: column;
  height: auto;
  position: relative;
  z-index: -1;
  overflow-y: auto;
  width: 100%;
}
header {
  position: fixed;
  width: 100%;

  ul {
    display: block;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba($color: #333, $alpha: 0.8);
    z-index: 3;
    transition: all 0.5s;
    transform: translateX(100%);
  }
  nav {
    margin: auto;
    padding: 0;
  }
  .hamburger {
    display: block;
    color: white;
    font-size: 1.5rem;
    z-index: 5;
  }
}
.page {
  max-width: 100%;
}
#page-1 {
  position: relative;
  z-index: -4;
  .container {
    .left {
      height: 100%;
      width: 100%;
      justify-content: space-evenly;
      .description {
        padding: 0;
      }
      h1 {
        font-size: 2.3rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.3;
      }
      .social {
        i {
          position: relative;
          z-index: 2000000;
        }
        width: 100%;
      }
    }

    .right {
      display: none;
    }
  }
}
#page-2 {
  height: auto;
  .container {
    .title {
      font-size: 2.5rem;
      margin: 2rem;
      margin-top: 10vh;
    }
    .projects-container {
      flex-direction: column;
      .proj {
        height: auto;
        width: 90vw;
      }
      .project {
        height: 190px;
        width: 90vw;
        margin: 0;
      }
      .projects {
        margin: 0 2rem 0 0;
        height: 50vh;
        .btn {
          margin: 0;
        }
      }
    }
  }
}
#page-3 {
  z-index: -2;

  height: 100vh;
  .container {
    margin: 3rem auto;
    .title {
      font-size: 2.5rem;
      margin: 0;
      margin-bottom: 1.5rem;
    }
  }
  .progress-box {
    .sub-box {
      align-items: center;
      .sub-title {
        font-size: 2rem;
        margin: 0;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    margin-top: 0rem;
    margin-bottom: 2.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    .progress-bar {
      height: 35px;
      width: 100%;
      margin: 0;
      align-self: default;
      justify-self: default;
      div {
        z-index: 0;
      }
    }
  }
}
#page-4 {
  height: 100vh;
  .container {
    .title {
      display: block;
      color: white;
      font-size: 2.5rem;
      padding-top: 2rem;
    }
    width: 100vw;
    .resume {
      img {
        width: 100%;
        margin: auto;
        &:focus {
          display: none;
        }
      }

      width: 90%;
      height: 50vh;
    }
  }
}
#page-5 {
  .container {
    width: 90%;
    .container-box {
      input {
        padding: 0.5rem;
      }
      textarea {
        padding: 0.5rem;
      }
      .btn {
        margin-top: 0rem;
      }
      label {
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}
