html {
  width: 100vw;
  overflow-x: hidden;
}

br {
  display: none;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  position: relative;
  overflow-y: auto;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
}

header ul {
  display: none;
}

header nav {
  margin: auto;
  padding: 0;
}

header .hamburger {
  display: block;
  color: white;
  font-size: 1.5rem;
}

.page {
  max-width: 100%;
}

#page-1 .container .left {
  height: 100%;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#page-1 .container .left .description {
  padding: 0;
}

#page-1 .container .left h1 {
  font-size: 2.3rem;
}

#page-1 .container .left p {
  font-size: 1rem;
  line-height: 1.3;
}

#page-1 .container .left .social {
  width: 100%;
}

#page-1 .container .right {
  display: none;
}

#page-2 {
  height: auto;
}

#page-2 .container .title {
  font-size: 2.5rem;
  margin: 2rem;
}

#page-2 .container .projects-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-2 .container .projects-container .proj {
  height: auto;
  width: 90vw;
}

#page-2 .container .projects-container .project {
  height: 190px;
  width: 90vw;
  margin: 0;
}

#page-2 .container .projects-container .projects {
  margin: 0 2rem 0 0;
  height: 50vh;
}

#page-2 .container .projects-container .projects .btn {
  margin: 0;
}

#page-3 {
  height: 100vh;
}

#page-3 .container {
  margin: 3rem auto;
}

#page-3 .container .title {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

#page-3 .progress-box {
  margin-top: 0rem;
  margin-bottom: 2.5rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;
}

#page-3 .progress-box .sub-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-3 .progress-box .sub-box .sub-title {
  font-size: 2rem;
  margin: 0;
}

#page-3 .progress-box .sub-box img {
  width: 40px;
  height: 40px;
}

#page-3 .progress-box .progress-bar {
  height: 35px;
  width: 100%;
  margin: 0;
  -ms-flex-item-align: default;
      -ms-grid-row-align: default;
      align-self: default;
  -ms-grid-column-align: default;
      justify-self: default;
}

#page-4 {
  height: 100vh;
}

#page-4 .container {
  width: 100vw;
}

#page-4 .container .title {
  display: block;
  color: white;
  font-size: 2.5rem;
  padding-top: 2rem;
}

#page-4 .container .resume {
  width: 90%;
  height: 50vh;
}

#page-4 .container .resume img {
  width: 100%;
  margin: auto;
}

#page-4 .container .resume img:focus {
  display: none;
}

#page-5 .container {
  width: 90%;
}

#page-5 .container .container-box input {
  padding: 0.5rem;
}

#page-5 .container .container-box textarea {
  padding: 0.5rem;
}

#page-5 .container .container-box .btn {
  margin-top: 0rem;
}

#page-5 .container .container-box label {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
/*# sourceMappingURL=mobile.css.map */