#page-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#page-3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0rem;
}

#page-3 .container .sub-title {
  font-size: 3rem;
}

#page-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-4 .container .title {
  display: none;
}

#page-4 .container embed {
  height: 80%;
  width: 50%;
  margin-bottom: 2rem;
}

#page-4 .container .btn {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 55%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-4 .container .btn:hover {
  background: #333;
  color: #f4f4f4;
}

#page-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-5 .container {
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
  height: 85%;
  width: 50%;
  border: solid 3px #aaa;
}

#page-5 .container .container-box {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-5 .container .small-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1rem;
}

#page-5 .container .message-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#page-5 .container .message-input textarea {
  border-radius: 0.8rem;
  width: 75%;
  height: 75%;
  border: solid 1px #ccc;
  padding: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-5 .container .message-input textarea:focus {
  border: solid 1px #b550c9;
  outline: none;
}

#page-5 .container label {
  width: 75%;
  font-size: 1.4rem;
}

#page-5 .container input {
  border-radius: 0.8rem;
  outline: none;
  border: solid 1px #ccc;
  padding: 0.5rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 75%;
}

#page-5 .container input:focus {
  border: solid 1px #b550c9;
}

#page-5 .container .btn {
  margin-top: 2rem;
  width: 75%;
  background: #333;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#page-5 .container .btn:hover {
  background: #b550c9;
  color: white;
  border: none;
}
/*# sourceMappingURL=style3-5.css.map */