.current {
  color: white;
  opacity: 1;
}

.container {
  width: 85%;
  height: 80%;
  margin: auto auto;
}

.container-h90 {
  height: 90%;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.h90 {
  height: 90%;
}

.spacing10 {
  height: 10px;
  width: 100%;
  background: transparent;
}

.logo {
  font-weight: medium;
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 2rem;
}

.title {
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
  font-weight: normal;
}

.sub-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  border-radius: 1rem;
  padding: 1.2rem 0;
  background: white;
  font-size: 1.3rem;
  text-align: center;
  color: black;
  width: 130px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 5;
}

.project {
  max-height: 800px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

.progress-box {
  width: 100%;
  height: 10%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-gap: 0;
  margin-top: 50px;
}

.progress-box img {
  width: 55px;
  height: 55px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

p {
  position: relative !important;
}

.progress-bar {
  display: inline-block;
  width: 92%;
  height: 65%;
  background: #fff;
  margin-left: 6rem;
  border-radius: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 4rem;
  position: relative;
}

.progress-bar div {
  position: relative;
  background: #c04b86;
  opacity: 0.8;
}

.resume {
  background: white;
  height: 700px;
  width: 650px;
  overflow: auto;
  margin: 3.5rem 0;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.resume #resume {
  overflow: auto;
  width: 650px;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hamburger {
  display: none;
}

body {
  height: 100%;
  width: 500vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
  display: inline;
}

a {
  color: white;
  text-decoration: none;
}

header {
  height: 10vh;
  position: fixed;
  width: 100%;
}

header nav {
  width: 85%;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav li {
  font-size: 1.3rem;
  color: white;
  margin: 0.5rem 2rem;
  cursor: pointer;
}

header nav li .current {
  opacity: 1;
  border: solid 3px #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

header nav li a {
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header nav li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page {
  min-height: 100vh;
  width: 100vw;
}

#page-1 {
  background: #2ec5c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#page-1 .container {
  width: 85%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 .container .left {
  height: 85%;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-1 .container .left h1 {
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
}

#page-1 .container .left p {
  font-size: 1.3rem;
  opacity: 0.8;
  position: relative;
}

#page-1 .container .left .description {
  padding-top: 5vh;
}

#page-1 .container .left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}

#page-1 .container .left .social a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

#page-1 .container .left .social a .link-name {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -35px;
  right: -50px;
  padding: 0.3rem 0.5rem;
  text-align: center;
  border: solid 2px #fff;
  border-radius: 0.5rem;
  background: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-1 .container .left .social a:hover {
  opacity: 0.7;
  cursor: pointer;
}

#page-1 .container .left .social a:hover .link-name {
  visibility: visible;
  opacity: 1;
}

#page-1 .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  width: 50%;
}

#page-1 .container .right svg {
  width: 80%;
}

#page-2 {
  background: #c04b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#page-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-2 .container .title {
  margin: 2rem;
  margin-top: 3rem;
}

#page-2 .container .project-to-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
}

#page-2 .container .project-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 7%;
  margin: 0 0 2rem 0;
}

#page-2 .container .project-menu .option {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #000;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-2 .container .project-menu .option-js {
  background: #f0db4f;
}

#page-2 .container .project-menu .option-react {
  background: #00d8ff;
}

#page-2 .container .project-menu .option-vue {
  background: #00c180;
}

#page-2 .container .project-menu .option-java {
  background: #f89820;
}

#page-2 .container .project-menu .option.current-menu {
  -webkit-box-shadow: inset 0 0 0 5px #fff;
          box-shadow: inset 0 0 0 5px #fff;
}

#page-2 .container .project-menu .option:hover {
  -webkit-box-shadow: inset 0 0 0 7px #fff;
          box-shadow: inset 0 0 0 7px #fff;
}

#page-2 .container .projects-container {
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

#page-2 .container .proj {
  width: 80%;
  min-height: 100%;
  display: none;
}

#page-2 .container .proj.show {
  display: block;
}

#page-2 .container .proj .dots {
  margin: 1rem;
}

#page-2 .container .proj .dots i {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#page-2 .container .proj .project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
  height: 100%;
  width: 100%;
}

#page-2 .container .proj .project-box .project {
  background: #ed7846;
  width: 100%;
  height: 600px;
}

#page-2 .container .proj .project-box #html-proj-1 .project {
  background: url("../img/movie-site.PNG") no-repeat center center/cover;
}

#page-2 .container .proj .project-box #html-proj-3 .project {
  background: url("../img/SimplyDraw.PNG") no-repeat center center/cover;
}

#page-2 .container .proj .project-box #html-proj-4 .project {
  background: url("../img/todo-list-site.PNG") no-repeat center center/cover;
}

#page-2 .container .proj .project-box #html-proj-5 .project {
  background: url("../img/rps-site.PNG") no-repeat center center/cover;
}

#page-2 .container .proj .projects {
  min-width: 100%;
  min-height: 100%;
  margin-right: 2rem;
}

#page-2 .container .proj .projects a {
  margin: 0 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#page-2 .container .proj .projects a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#page-2 .container .proj .projects a.btn-demo {
  font-weight: medium;
}

#page-2 .container .proj .projects .sub-title {
  margin-bottom: 1rem;
}

#page-2 .container .regular-projects .projects .btn-demo {
  background: #ed7846;
  color: white;
}

#page-2 .container .regular-projects .selected {
  color: #ed7846;
}

#page-2 .container .react-projects .projects .project {
  background: #00d8ff;
}

#page-2 .container .react-projects .projects .btn-demo {
  background: #00d8ff;
  color: white;
}

#page-2 .container .react-projects .selected {
  color: #00d8ff;
}

#page-2 .container .vue-projects .projects .project {
  background: #00c180;
}

#page-2 .container .vue-projects .projects .btn-demo {
  background: #00c180;
  color: white;
}

#page-2 .container .vue-projects .selected {
  color: #00c180;
}

#page-3 {
  background: #86c04b;
}

#page-4 {
  background: #c04b86;
}

#page-5 {
  background: #b550c9;
}
/*# sourceMappingURL=style1-2.css.map */